@red-color-1: #cd0000;
@red-color-2: #910000;
@red-color-3: #fe3535;
@red-color-4: #FE3530;

@grey-color-1: #aaa;
@grey-color-2: #333;
@grey-color-3: #eaeaea;
@grey-color-4: #ccc;
@grey-color-5: #1B1E24;

@font-color: @grey-color-2;
@bg-color: @grey-color-3;
@border-color-1: @grey-color-1;
@active-border: #444;
@primary-color: #202020;
@found-color: #00b056;
@not-found-color: @red-color-4;

@font-face {
    font-family: 'Sinkin Sans Regular';
    src: url('../font/sinkinsans-400regular.eot');
    src: url('../font/sinkinsans-400regular.eot?#iefix') format('embedded-opentype'),
         url('../font/sinkinsans-400regular.woff2') format('woff2'),
         url('../font/sinkinsans-400regular.woff') format('woff'),
         url('../font/sinkinsans-400regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    max-width: 100%;
    padding: 0;
    margin: 10px;
    color: #444;
    padding-top: 125px;
    padding-bottom: 50px;
    background: @bg-color;
    font-size: 12px;
}

h5{
    font-size: 12px;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

ol{
    list-style-type: decimal;
}

.app-name{
    margin: 2px;
}

#header-panel{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
	color: #fff;
    box-shadow: 1px 1px 5px #aaa;
    z-index: 100;

    #header-top-panel{
		background: @primary-color;
		color: #fff;
        padding: 20px 10px;
        font-size: 12px;
        line-height: 1;
        font-family: 'Sinkin Sans Regular';
        border-bottom: 1px solid #666;

        #logo{
            position: absolute;
            top: 5px;
            left: 10px;
            width: 45px;
            height: 45px;
            //background: #fff;
            overflow: hidden;

            + .app-name{
                margin-left: 40px;
            }
        }
    }

    .version-number{
        color: #aaa;
    }

    #header-bottom-panel{
        padding: 10px;
    	background: @primary-color;
        border-bottom: 1px solid #888;
    }

    .toolbar-panel{
    	a{
    		font-size: 13px;
    		display: inline-block;
    		padding: 5px 10px;
    		color: #fff;
    		border-left: 1px solid #f00;
    	}
    }
}

textarea{
    border: 1px solid;

    &:focus{
        outline: none;
    } 
}

#xpath-textarea{
    width: 100%;
    resize: none;
    color: @grey-color-2;
}

.find-xpath{
    margin: 10px 0;
    color: @font-color;
    display: inline-block;
    cursor: pointer;    

    &:hover{
        color: @font-color;        
    }
}

#instruction-text{
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    top: 160px;
    text-shadow: 0px 1px #fff;
    color: #aaa;
    font-size: 13px;
    display: none;
}

#container{
    position: relative;
    z-index: 10;

    &:empty{
        + #instruction-text{
            display: block;
        }
    }

    .page-object{
        margin-bottom: 10px;

        .panel{
            border-color: @border-color-1;
            overflow: hidden;

            .panel-heading{
                .panel-title{
                    font-size: 12px;

                    a{
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }

            .panel-body{
                border-color: @border-color-1;

                .page-name-textbox,
                .page-url-textbox{
                    border-radius: 50px;
                    padding: 5px 15px;
                    border: 2px solid @grey-color-4;

                    &:focus{
                        border-color: @active-border;
                    }
                }

                .elements{
                    list-style: none;
                    margin: 0 0 10px 0;
                    padding: 0;

                    li{
                        padding: 7px 25px;
                        border: 1px solid #ccc;
                        background: #f8f8f8;
                        position: relative;
                        border-left: 4px solid #ddd;
                        
                        + li{
                            border-top: none;
                        }

                        &.active{
                            border-left-color: @active-border;

                            .element-no{
                                color: @grey-color-2;
                            }
                        }

                        &.found{
                            border-left-color: @found-color;
                        }

                        &.not-found{
                            border-left-color: @not-found-color;
                        }

                        .remove-element-button{
                            display: none;
                            position: absolute;
                            right: 8px;
                            top: 15px;
                        }

                        .show-detail-button{
                            position: absolute;
                            right: 9px;
                            top: 25px;   
                            color: @grey-color-1;
                        }

                        &:hover{
                            .element-no{
                                color: @grey-color-2;
                            }

                            .remove-element-button{
                                display: block;
                            }
                        }

                        .element-no{
                            position: absolute;
                            left: 9px;
                            top: 12px;
                            color: @grey-color-1;
                            font-weight: bold;
                        }

                        .element-name-textbox{
                            margin: 0;

                            &:focus{
                                //border-color: @active-border;
                                outline: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.xpath-text{
    margin-bottom: 10px;
    font-style: italic;
    color: @grey-color-1;
    word-wrap: break-word;
}

#footer-panel{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    border-top: 1px solid #aaa;
    background: #fff;
    z-index: 100;
}

.remove-button{
    color: @grey-color-1;

    &:hover{
        color: @grey-color-2;
    }
}

input[type="text"]{
	margin-bottom: 5px;
	width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 2px;

	&:focus{
		outline: none;
	}
}

.btn{
    font-size: 12px;
    border-radius: 2px;
    
    &.red-color{
        background: @red-color-1;
        border-color: @red-color-1;
        color: #fff;
    }

    &.primary-color{
        background: @primary-color;
        border-color: @primary-color;
        color: #fff;   
    }

    &.file{
        position: relative;
        overflow: hidden;

        input[type="file"]{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
            font-size: 100px;
            min-height: 100%;
        }
    }
}

#hidden-div{
    display: none;
}

.item-button-panel{
    text-align: right;
}

#clear-all-button{
    float: left;
    background: transparent;
    color: #777;
    border: none;
    padding-left: 0;

    &:hover{
        color: @primary-color;
    }

    &:active{
        box-shadow: none;
    }
}